<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="DbConnString" value="" />

    <add key="MinioApiAddr" value="" />
    <add key="MinioUser" value="" />
    <add key="MinioPwd" value="" />
    <add key="MinioBucketName" value="" />
    </appSettings>
</configuration>
